.details-row {
   border-bottom: 1px solid #ccc;
}

.details-row:last-child {
   border-bottom: 0;
   margin-bottom: 0;
   padding-bottom: 0;
}

.table-reports-modal {
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}

.ant-popconfirm .ant-popconfirm-buttons button:nth-child(2) {
   background: theme(colors.brown);
}
